.span3
  .well.sidebar-nav
    %ul.nav.nav-list

      %li.nav-header Management
      %li= link_to "Home Page", admin_home_path
      %li= link_to "Products", ''
      %li= link_to "Orders", ''
      %li= link_to "Shippments", ''
      %li= link_to "Payments", ''

      %li.nav-header Active
      %li= link_to "Users", ''
      %li= link_to "Comunities", ''
      
      %li.nav-header Settings
      -  if @store.present? and !@store.new_record?
        %li
          = link_to 'edit', edit_admin_store_path(@store), class: 'pull-right'
          = link_to 'Store Profile', admin_store_path(@store)
      %li= link_to 'Story', ''
      %li= link_to 'Subdomain', ''
