.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Management
      %li= link_to "Dashboard", dashboard_users_path
      %li= link_to "Orders", ''
      %li= link_to "Shippments", ''
      %li= link_to "Payments", ''
      
      %li.nav-header Settings
      %li= link_to "Products", ''
      %li= link_to "Store Profile", ''
      %li= link_to "My Store", ''
