= simple_form_for @store, url: (@store.new_record? ? admin_stores_path : admin_store_path(@store)), :html => { :class => 'form-horizontal' } do |f|
  = f.input :title, label: 'Store Title'
  = f.input :subdomain, label: 'Store Domain',hint: "http://set-domain-here.#{SITE_CONFIG['domain']}/"
  = f.input :description, as: :text, input_html: {rows: 4, class: 'input-xxlarge'}
  = f.input :closed
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
