- model_class = Product
.page-header
  %h1 Cart
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.id, store_product_path(@store, product)
        %td= product.title
        %td= product.description
        %td=l product.created_at
        %td
          = link_to 'Delete', user_cart_path(current_user, product), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to 'Shippment', '', :class => 'btn btn-primary'
= link_to 'Payment', '', :class => 'btn btn-primary'